.input_field{
  font-size : 20px;
  font-family : var(--font-title);
  margin : 2rem auto;
  background-color : var(--dark-grey);
  color: var(--near-white);
  padding: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.input_type, .description_input, .amount_input{
  font-size : 20px;
  outline : none;
  margin : 1rem;
  padding: 0 10px;
}

.amount_input:focus::placeholder{
  color :transparent;
}

.add_info_btn{
  padding: 0.5rem 1.5rem;
  background-color : var(--blue);
  color : white;
  font-size : 20px;
  outline : none;
  border-radius : 10%;
  box-shadow : 1px 2px 4px var(--middle-grey);
}

.add_info_btn:focus{
  padding: 0.5rem 1.5rem;
  background-color : var(--dark-blue);
  font-size : 20px;
  outline : none;
  border-radius : 10%;
  box-shadow : 1px 2px 4px var(--middle-grey);
}