* {
  margin: 0;
  padding: 0;
  box-sizing : border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/******* Global CSS variable *******/

:root {
  /* font */
  --font-title : 'Montserrat', sans-serif;
  --font-content : 'Roboto Condensed', sans-serif;
  /* color*/
  --darker-grey : #51565d;
  --dark-grey : #6e6e70;
  --middle-grey : #94949c;
  --light-grey : #ededed;
  --near-white : #f8f9f9;
  --dark-blue : #325a76;
  --blue : #5497c5;
  --dark-pink : #bc635d;
  --bright-pink : #fe7069;
  --light-pink : #fd897f;
}
